# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
out/
build/

# Next.js
.next/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.dockerignore

# OS files
.DS_Store
Thumbs.db
